@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
  font-family: "IBM", monospace;
}
@import "tailwindcss";
@plugin "daisyui";



/* -------------------------- */
/* HERO PAGINATION */
/* -------------------------- */

.swiper-pagination {
    bottom: 45px !important;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    background: white;
    opacity: .45;
    transition: all .35s ease;
}

.swiper-pagination-bullet-active {
    width: 36px;
    border-radius: 999px;
    background: #1E311B;
    opacity: 1;
}